[project]
name = "adala"
version = "0.0.4dev"
description = "Adala: Autonomous Data Labeling Agent"
authors = [
    {name = "HumanSignal", email = "hello@humansignal.com"},
]
dependencies = [
    "pandas",
    "openai>=1.13.3",
    "guidance==0.0.64",
    "pydantic>=2",
    "rich>=13",
    "redis-om",
    "fastapi>=0.104.1",
    "aiosqlite>=0.19.0",
    "chromadb>=0.4.18",
    "tenacity>=8.2.3",
    "gspread>=5.12.3",
    "datasets>=2.16.1",
    "aiohttp>=3.9.3",
    "boto3>=1.34.38",
    "aiokafka>=0.10.0",
    "celery[redis]>=5.3.6",
    "python-jose[cryptography]>=3.3.0",
]
requires-python = ">=3.8.8,<3.12"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
# [project.optional-dependencies]
# label-studio = [
#     "label-studio-sdk @ git+https://github.com/HumanSignal/label-studio-sdk.git@pd-support",
# ]
# jupyter = [
#     "jupyter",
# ]
# docs = [
#     "sphinx>=7.1.2",
#     "sphinx-rtd-theme>=1.3.0",
#     "myst-parser>=2.0.0",
# ]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.dev-dependencies]
test = [
    "pytest>=7.4.3",
    "pytest-cov>=4.1.0",
    "black>=23.11.0",
    "pytest-black>=0.3.12",
]
doc = [
    "mkdocs>=1.5.3",
    "mkdocs-jupyter>=0.24.3",
    "mkdocs-material>=9.4.7",
    "mkdocstrings-python>=1.7.3",
]
dev = [
    "ipykernel>=6.28.0",
    "jupyter>=1.0.0",
    "jupyterlab>=4.0.10",
    "jupyter-client==8.4.0",
    "matplotlib>=3.7.4",
    "openai>=0.28.1",
]

[project.scripts]
adala = "adala.cli:main"
