[tool.poetry]
name = "adala"
version = "0.0.4dev"
description = "Adala: Autonomous Data Labeling Agent"
authors = [
    "HumanSignal <hello@humansignal.com>"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.8.8,<3.12"
pandas = "*"
openai = "0.28.1"
guidance = "0.0.64"
pydantic = "^2"
rich = "^13"
aiosqlite = "^0.19.0"
chromadb = "^0.4.18"
tenacity = "^8.2.3"
gspread = "^5.12.3"
datasets = "^2.16.1"
aiohttp = "^3.9.3"
boto3 = "^1.34.38"
aiokafka = "^0.10.0"
# these are for the server
# they would be installed as `extras` if poetry supported version strings for extras, but it doesn't
# https://github.com/python-poetry/poetry/issues/834
# they also can't be installed as a `group`, because those are for dev dependencies only and could not be included if this package was pip-installed
redis-om = "*"
fastapi = "^0.104.1"
celery = {version = "^5.3.6", extras = ["redis"]}
uvicorn = "*"

[tool.poetry.dev-dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
black = "^23.11.0"
pytest-black = "^0.3.12"
mkdocs = "^1.5.3"
mkdocs-jupyter = "^0.24.3"
mkdocs-material = "^9.4.7"
mkdocstrings-python = "^1.7.3"
ipykernel = "^6.28.0"
jupyter = "^1.0.0"
jupyterlab = "^4.0.10"
jupyter-client = "8.4.0"
matplotlib = "^3.7.4"

[tool.poetry.scripts]
adala = "adala.cli:main"


[tool.pdm]
[tool.pdm.dev-dependencies]
dev = [
    "pytest<8.0.0,>=7.4.3",
    "pytest-cov<5.0.0,>=4.1.0",
    "black<24.0.0,>=23.11.0",
    "pytest-black<1.0.0,>=0.3.12",
    "mkdocs<2.0.0,>=1.5.3",
    "mkdocs-jupyter<1.0.0,>=0.24.3",
    "mkdocs-material<10.0.0,>=9.4.7",
    "mkdocstrings-python<2.0.0,>=1.7.3",
    "ipykernel<7.0.0,>=6.28.0",
    "jupyter<2.0.0,>=1.0.0",
    "jupyterlab<5.0.0,>=4.0.10",
    "jupyter-client==8.4.0",
    "matplotlib<4.0.0,>=3.7.4",
]

[tool.pdm.build]
includes = []
[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

#[tool.poetry.extras]
#label-studio = ["label-studio-sdk @ git+https://github.com/HumanSignal/label-studio-sdk.git@pd-support"]
#docs = ["sphinx>=7.1.2", "sphinx-rtd-theme>=1.3.0", "myst-parser>=2.0.0"]

[project]
authors = [
    {name = "HumanSignal", email = "hello@humansignal.com"},
]
requires-python = ">=3.8.8,<3.12"
dependencies = [
    "pandas",
    "openai>=1.14.3",
    "guidance==0.0.64",
    "pydantic<3,>=2",
    "rich<14,>=13",
    "aiosqlite<1.0.0,>=0.19.0",
    "chromadb<1.0.0,>=0.4.18",
    "tenacity<9.0.0,>=8.2.3",
    "gspread<6.0.0,>=5.12.3",
    "datasets<3.0.0,>=2.16.1",
    "aiohttp<4.0.0,>=3.9.3",
    "boto3<2.0.0,>=1.34.38",
    "aiokafka<1.0.0,>=0.10.0",
    "redis-om",
    "fastapi<1.0.0,>=0.104.1",
    "celery[redis]<6.0.0,>=5.3.6",
    "uvicorn",
]
name = "adala"
version = "0.0.4dev"
description = "Adala: Autonomous Data Labeling Agent"
classifiers = ["Programming Language :: Python :: 3", "License :: OSI Approved :: Apache Software License", "Operating System :: OS Independent"]

[project.scripts]
adala = "adala.cli:main"
