[project]
name = "adala"
version = "0.0.1"
description = "ADALA: Automated Data Labeling Agent"
authors = [
    {name = "Human Signal", email = "hello@humansignal.com"},
]
dependencies = [
    "pandas",
    "openai",
    "guidance",
    "pydantic>=2",
    "rich>=13",
    "redis-om",
]
requires-python = ">=3.8.8"
readme = "README.md"
# [project.optional-dependencies]
# label-studio = [
#     "label-studio-sdk @ git+https://github.com/HumanSignal/label-studio-sdk.git@pd-support",
# ]
# jupyter = [
#     "jupyter",
# ]
# docs = [
#     "sphinx>=7.1.2",
#     "sphinx-rtd-theme>=1.3.0",
#     "myst-parser>=2.0.0",
# ]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

