name: "Docs"

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - 'adala/**'
      - '.github/workflows/docs.yml'
  pull_request:
    paths:
      - 'docs/**'
      - 'adala/**'

env:
  POETRY_VERSION: 2.1.4

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'  # Run this job for pull requests only
    steps:
      - uses: actions/checkout@v5

      - name: "Install poetry"
        run: pipx install "poetry==${{ env.POETRY_VERSION }}"

      - name: "Set up Python"
        id: setup_python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'poetry'

      - name: Install Python dependencies
        run: |
          poetry install --sync

      - name: Build MkDocs site
        run: |
          cd docs/
          poetry run mkdocs build

  upload:
    name: "Upload"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'  # Run this job for pushes to the master branch only
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: "Install poetry"
        run: pipx install "poetry==${{ env.POETRY_VERSION }}"

      - name: "Set up Python"
        id: setup_python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'poetry'

      - name: Install Python dependencies
        run: |
          poetry install --sync

      - name: Deploy docs
        run: |
          cd docs/
          poetry run mkdocs gh-deploy --force
