name: pytests
on:
  push:
    branches:
      - master
    paths:
      - 'adala/**'
      - 'tests/**'
      - '.github/workflows/tests.yml'
      - '**/requirements**'
    tags-ignore:
      - '**'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - master
      - 'release/**'
  workflow_dispatch:

env:
  OPENAI_API_KEY: test

jobs:
  run_pytest_ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'

    steps:
      - uses: actions/checkout@v4

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: "${{ matrix.python-version }}"
          cache: true

      - name: Install Python dependencies
        run: |
          pdm sync -G test

      - name: Run functional tests
        run: |
          cd tests/
          pdm run pytest --junitxml report.xml --cov=. -vv 

  run_pytests_windows:
    name: Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: "${{ matrix.python-version }}"
          cache: true

      - name: Install Python dependencies
        run: |
          pdm sync -G test

      - name: Test with pytest
        run: |
          pdm run pytest -vv
